.Pokecard-div {
	display: inline-block;
	position: relative;
	background-color: blueviolet;
	width: 150px;
	padding: 10px 0px;
	margin: 10px;
	border-radius: 8px;
}

h3 {
	margin: 10px 0px 6px 0px;
}

img {
	margin: 0px 0px 6px 0px;
	background-color: #ccc;
	border-radius: 8px;
}

p {
	margin: 0px;
	font-size: 0.8em;
}
